.tl-timeline-wrapper {
  top: 50px;
}

.tl-timeline-tracklabels div {
  box-sizing: border-box !important
}

/* locks scroll bar on to prevent horizontal jump when content render */
body {
    overflow-y: scroll;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scrollbarAlwaysVisible::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px; /* No need for -webkit prefix anymore */
}

.scrollbarAlwaysVisible::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.21);
  border-radius: 100px;
  width: 8px;
  height: 8px;
}

.scrollbarAlwaysVisible::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.scrollbarAlwaysVisible::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.42);
  border-radius: 100px;
}
